# ── Database ─────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://ngemiloh:DbNgemiloh2026DuriAm0n@pgbouncer:5432/ngemiloh_db
DIRECT_DATABASE_URL=postgresql://ngemiloh:DbNgemiloh2026DuriAm0n@postgres:5432/ngemiloh_db
# DIRECT_DATABASE_URL untuk Prisma Migrate (bypass PgBouncer)

# ── Redis ────────────────────────────────────────────────────────────────
REDIS_URL=redis://redis:6379

# ── JWT & Auth ───────────────────────────────────────────────────────────
JWT_ACCESS_SECRET=a6s7d8f9g9h3j3k2l1m2n3b4v5c6z9x7
JWT_REFRESH_SECRET=p2j3k3b4m5f8e9r0f7m2u3i4b5g3j2l1
JWT_ACCESS_EXPIRES=8h
JWT_REFRESH_EXPIRES=30d
PIN_PEPPER_SECRET=BisnisIbuNabilSemogajayaSelalu26
BCRYPT_ROUNDS=12

# ── Midtrans ─────────────────────────────────────────────────────────────
MIDTRANS_ENV=sandbox # <- ubah ke "production" saat go-live
MIDTRANS_SERVER_KEY_SANDBOX=SBT-MTxxxxxxxxxxxxxxxxx
MIDTRANS_SERVER_KEY_PRODUCTION=MTxxxxxxxxxxxxxxxxx
MIDTRANS_CLIENT_KEY_SANDBOX=SBT-Mid-client-xxxxxxx
MIDTRANS_CLIENT_KEY_PRODUCTION=Mid-client-xxxxxxx
QRIS_EXPIRY_SECONDS=900 # 15 menit

# ── Email (Nodemailer) ───────────────────────────────────────────────────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nabilah.fnb@gmail.com
EMAIL_APP_PASSWORD=N@bil0102 # Gmail App Password
EMAIL_ALERT_TO=nabilah.fnb@gmail.com

# ── Storage ──────────────────────────────────────────────────────────────
STORAGE_PATH=/var/storage/ngemiloh
MAX_FILE_SIZE_MB=5

# ── Business Rules ───────────────────────────────────────────────────────
PRICE_DELTA_THRESHOLD_PCT=10
MAX_OFFLINE_QUEUE=500
CASH_DISCREPANCY_ALERT_THRESHOLD=5000
MAX_VOID_PER_10MIN=3

# ── App ──────────────────────────────────────────────────────────────────
NODE_ENV=production
PORT=3000
ALLOWED_ORIGINS=https://pos.domain.com,https://admin.domain.com
APP_VERSION=3.0.0
